.info,
.container {
    position: absolute;
    z-index: 1;
}

.container {
    background-color: var(--color-alpha-1);
    border-radius: 15px;
    width: 80%;
    box-shadow: 0 4px 8px var(--shadow-alpha);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}

:focus-visible,
.debug-button:hover {
    outline: -webkit-focus-ring-color auto 1px;
}

.button {
    background-color: var(--color-alpha-1);
}

.button:hover {
    background-color: var(--color-alpha-2);
}

.button.disabled {
    background-color: var(--color-alpha-3);
}

#main {
    height: 25%;
    bottom: 20px;
}

#buttons * {
    pointer-events: auto;
}

#buttons .input,
#save-load .input {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    height: 5%;
    font-family: var(--font);
    font-size: medium;
    transform: translate(-50%, -50%);
}

#character {
    position: absolute;
    width: 20%;
    height: 10%;
    top: -10%;
    left: -5%;
    background-color: var(--color-alpha-2);
    padding: 10px;
    border-radius: 5px;
    font-family: var(--font);
    font-size: medium;
    text-align: center;
}

#speech {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
    font-family: var(--font);
    font-size: medium;
    display: inline-block;
    justify-content: center;
    align-content: center;
}

#part {
    position: absolute;
    top: 13%;
    left: 5%;
    font-size: xx-large;
    font-style: italic;
}

#texts {
    font-family: var(--font);
    font-size: large;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 20%;
    padding-bottom: 40%;
    white-space: pre-wrap;
}

.full-image {
    margin-left: 0;
    background-size: cover;
}

.normal-image {
    margin-left: -50%;
    background-size: contain;
}

.image {
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.3s ease;
}

#images .image {
    position: absolute;
    height: 50%;
    bottom: 0;
    width: 100%;
    z-index: -1;
}

#images #left-image {
    left: 20%;
}

#images #center-image {
    left: 50%;
}

#images #right-image {
    left: 80%;
}

#functions {
    position: absolute;
    bottom: 5px;
    right: 5px;

    --columns: 2;
    --rows: 1;
}

#save-load {
    position: fixed;
    background-color: transparent;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    pointer-events: none;
    touch-action: none;
    display: grid;
    z-index: 5;
}

.slot {
    margin: 20px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 4px 8px var(--shadow-alpha);
    color: var(--color-4);
    font-family: var(--font);
    font-size: medium;
    border-radius: 10px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    padding: 10px;
    white-space: pre-wrap;
}

.save-notes {
    z-index: 7;
}