/.vscode
/node_modules
/gal.txt
/build
save
/import-test.txt
/.VSCodeCounter
/js
/exports.txt
/merge.ps1
/src
/dts
/plugins/analyse/index.js
/ts/vars/grammar/grammar.js
/web-files
/launch.bat
/dependencies