name: Node.js Build

on: [push, pull_request]

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        node-version: [20]
        python-version: ['3.12']

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      
      - name: Use Python ${{ matrix.python-version }} as shell
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Set GH_TOKEN environment variable (Linux/Mac)
        if: ${{ matrix.os != 'windows-latest' }}
        run: echo "GH_TOKEN=${{ secrets.GH_TOKEN }}" >> $GITHUB_ENV
        shell: bash

      - name: Set GH_TOKEN environment variable (Windows)
        if: ${{ matrix.os == 'windows-latest' }}
        run: echo "GH_TOKEN=${{ secrets.GH_TOKEN }}" >> $env:GITHUB_ENV
        shell: pwsh

      - name: Install dependencies
        run: npm install

      - name: Download Frontend dependencies
        run: python get-dependencies.py

      - name: Run Peggy.js
        run: npm run grammar
      
      - name: Compile Main Typescript files
        run: npm run tsc-main

      - name: Copy gen-plugin-dts.py
        run: cp gen-plugin-dts.py dts/

      - name: Run gen-plugin-dts.py
        run: python gen-plugin-dts.py
        working-directory: dts

      - name: Remove gen-plugin-dts.py
        run: rm dts/gen-plugin-dts.py
      
      - name: Compile Typescript files
        run: npm run tsc

      - name: List export files
        run: |
          import os;
          with open('./exports.txt', 'w+', encoding='utf-8') as out:
            s = '\n'.join('/'.join(path) + '/' + os.path.splitext(file)[0] for root, _, files in os.walk('./ts') for file in files if file.endswith(".ts") or file.endswith(".js") if len(path := root.split(os.sep)[2:]) != 0 and path[0] != 'main')
            print(s)
            print(s, file=out, end='')
        shell: python

      - name: Build the application
        run: npm run build --if-present

      - name: List files
        run: import os; print(os.listdir('.'))
        shell: python

      - name: List dependencies
        run: import os; print(os.listdir('dependencies'))
        shell: python

      - name: Check if build output exists
        run: import os; exit(1) if not os.path.exists('build') else print(os.listdir('build'))
        shell: python

      - name: Upload exports artifact for ${{ matrix.os }}
        uses: actions/upload-artifact@v4
        with:
          name: exports-dts-${{ matrix.os }}
          path: dts/

      - name: Upload artifact for ${{ matrix.os }}
        uses: actions/upload-artifact@v4
        with:
          name: galosity-build-${{ matrix.os }}
          path: build/
          
  lint:
    name: ESLint
    runs-on: ubuntu-latest
    if: always()

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Use Node.js 20
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install
      
      - name: Install ESLint
        run: npm install eslint --save-dev

      - name: Run ESLint
        run: npx eslint . --max-warnings=0
